#outerWrapper
  #contentWrapper
    %ul#navMain
      %li
        %a{:href => "#home", :title => "home"}
          %img{:alt => "Home", :src => "images/icons/home.gif"}/
      %li
        %a{:href => "#about", :title => "about"}
          %img{:alt => "About", :src => "images/icons/about.gif"}/
      %li
        %a{:href => "#networks", :title => "networks"}
          %img{:alt => "Networks", :src => "images/icons/network.gif"}/
      %li
        %a{:href => "#contact", :title => "contact"}
          %img{:alt => "Contact", :src => "images/icons/contact.gif"}/
    #content
      #scrollWrapper
        %ul
          / Home Section Details
          %li#home.section
            %h1
              = @name
              %a.vcard{:href => "donpottinger.vcf", :title => "Download vCard"}
                %img{:alt => "Download vCard", :src => "images/icons/vcard.gif"}/
            %h3 Web Developer | Entrepreneur | Consultant
            / end #home
          / About Section Details
          %li#about.section
            %h2 About Me
            %img.left{:alt => "Don A. Pottinger", :src => "images/donavatar.png"}/
            %p
<<<<<<< HEAD
              Curious, driven and talented Management Consultant, Business Analyst, and Project Manager by day and Entrepreneur and Web
              Developer by night, with a penchant for solving various problems in heterogeneous markets from Fitness to Communication and High Tech.
=======
              Web developer, entrepreneur and consultant with a passion for solving various problems in heterogeneous markets from Fitness, Communication and High Tech, Public Service and Real Estate.
>>>>>>> 37eb2ac70966b18f422c6e2c29c5ee8f1138fd9f
            %strong Specialties
            %p
              Ruby on Rails, Javascript and jQuery
            %strong Current Projects
<<<<<<< HEAD
            %p 
              Body Boss
=======
            %ul
              %li Athletic Intelligence Systems
              %li MLS Soccer Survivor web app
            
>>>>>>> 37eb2ac70966b18f422c6e2c29c5ee8f1138fd9f
            / end #about
          / Network Section Details
          %li#networks.section
            %h2 Find Me
            %ul
              %li
                %a.external{:href => "http://strukturedkaos.com"}
                  %img{:alt => "Struktured Kaos", :src => "images/profiles/wordpress.png"}/
                  = succeed "strukturedkaos.com" do
                    %strong Blog                
              %li
                %a.external{:href => "http://twitter.com/donpottinger"}
                  %img{:alt => "Twitter", :src => "images/profiles/twitter.png"}/
                  %strong Twitter
                  twitter.com/donpottinger
              %li
                %a.external{:href => "http://facebook.com/donpot"}
                  %img{:alt => "Facebook", :src => "images/profiles/facebook.png"}/
                  = succeed "facebook.com/donpot" do
                    %strong Facebook
              %li
                %a.external{:href => "https://plus.google.com/106936387167997377706/"}
                  %img{:alt => "Google Plus", :src => "images/profiles/google_plus.png"}/
                  = succeed "profiles.google.com/donpottinger" do
                    %strong Google Plus
              %li
                %a.external{:href => "http://www.linkedin.com/in/donpottinger"}
                  %img{:alt => "LinkedIn", :src => "images/profiles/linkedin.png"}/
                  = succeed "linkedin.com/in/donpottinger" do
                    %strong LinkedIn
            / end #networks
          / Contact Section Details
          %li#contact.section
            %h2 Contact
<<<<<<< HEAD
            #addressDetails
              %h3 Don Pottinger
              %p
                %strong Email:
                
                :plain
                  <script type="text/javascript">
                  //<![CDATA[
                  <!--
                  var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                  "=92){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                  ".substr(0,ol);}f(\")05,\\\"[oet~e;vd:96t\\\\'=5310\\\\#',!,720\\\\=)430\\\\" +
                  "4 #-+54PN`HT^bVXR310\\\\620\\\\o320\\\\T]710\\\\BDMFo310\\\\t230\\\\CIPJV10" +
                  "0\\\\200\\\\Csr771\\\\5vpyzqT`uibc|rkr.320\\\\420\\\\530\\\\M230\\\\700\\\\" +
                  "530\\\\600\\\\410\\\\600\\\\K;X500\\\\400\\\\-5{8kw{?#(? 52m5QXVLTZW\\\"(f}" +
                  ";o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)05<i(fi" +
                  "{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"            ;
                  while(x=eval(x));
                  //-->
                  //]]>
                  </script>
              / end #about
=======
>>>>>>> 37eb2ac70966b18f422c6e2c29c5ee8f1138fd9f
            #contactForm
              #note
              = form_for @contact, :remote => true, :url => contact_path, :html => { :class => "contact" } do |f|
                .field
                  = f.label :name
                  = f.text_field :name, :class => "text"
                .field
                  = f.label :email
                  = f.text_field :email, :class => "text"
                .field
                  = f.label :message, "Message"
                  = f.text_area :message, :rows => 6
                .buttons
                  = f.submit "Submit", :class => "submit"
                  %input.submit.reset{:type => "reset", :value => "Reset"}/                
              / end #contactForm
            / end #contact
        / end #scrollWrapper
      / end #content
    / end #contentWrapper
  / end #outerWrapper
%p#copyright= "donapottinger.com All Rights Reserved."
